-- Lab | SQL Self and cross join
-- Instructions

In this lab, you will be using the Sakila database of movie rentals.The database is structured as follows:


use sakila;
select * from rental;

-- 1- Get all pairs of actors that worked together.

select 
f0.film_id,
f1.actor_id,
f0.actor_id 
from film_actor as f0
inner join film_actor as f1
on  f0.film_id = f1.film_id
and f0.actor_id <> f1.actor_id
order by f0.film_id;

-- 2- Get all pairs of customers that have rented the same film more than 3 times.

-- 3- Get all possible pairs of actors and films.

DROP TABLE IF EXISTS sakila.distinct_actor;
CREATE TEMPORARY TABLE sakila.distinct_actor
SELECT DISTINCT actor_id FROM sakila.film_actor;

DROP TABLE IF EXISTS sakila.distinct_film;
CREATE TEMPORARY TABLE sakila.distinct_film
SELECT DISTINCT film_id FROM sakila.film_actor;

SELECT concat(a.first_name, " ", a.last_name) as name, sub1.actor_id, sub2.film_id
FROM sakila.distinct_actor as sub1
CROSS JOIN sakila.distinct_film as sub2
JOIN Sakila